# Copy this file to .env.dev or .env.local and replace placeholders with real values.

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=<your_app_secret>
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> mistral ###
MISTRAL_API_KEY=<your_api_key>
MISTRAL_MODEL=ministral-3b-2512
###< mistral ###
